spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/codemark
    username: postgres
    password: postgres
  sql:
    init:
      mode: always
      schema-locations: classpath:create_schema.sql
      data-locations: classpath:insert_data.sql
  jpa:
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 20
        jdbc.batch_size: 20
#        generate_statistics: true
#For Answer
logging:
  level:
    root: INFO